.work3-main-div {
  position: absolute;
  overflow: hidden;
}

.work3-header {
  font-size: 60px;
  line-height: normal;
  font-family: "Google Sans Regular";
  text-align: center;
}

.work3-text {
  font-size: 20px;
}

.work3-text-div {
  margin-left: 50px;
  font-family: "Google Sans Regular";
}

.work3-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.work3-image-div > * {
  max-width: 90%;
  height: auto;
  margin-top: 10px;
  display: block;
}

.work3-gif-div > * {
  max-width: 90%;
  height: auto;
  margin-top: 80px;
  display: block;
  margin-left: 40%;
}

.work3-heading {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Regular";
  line-height: normal;
}

/* Media Query */
@media (max-width: 1380px) {
  .work3-heading {
    font-size: 40px;
  }
  .work3-header {
    font-size: 50px;
  }
  /* .skills-image-div > img {
    margin-top: 0px;
  } */
}
@media (max-width: 768px) {
  .work3-heading {
    font-size: 30px;
    text-align: center;
  }
  .work3-header {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .work3-main-div {
    flex-direction: column;
  }
  .work3-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .work3-text {
    font-size: 16px;
  }
  .work3-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .work3-image-div {
    /* display: none; */
    order: 2;
  }
  .work3-gif-div {
    /* display: none; */
    order: 2;
    margin-top: auto;
  }
}
